<h2>Вход</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="col-md-6 buffer-top">

    <div class="form-group has-feedback">
      <%= f.email_field :email, autofocus: true, placeholder: "Email", class: 'span2 form-control' %>
      <span class="add-on form-control-feedback">
        <i class="glyphicon glyphicon-envelope form-control-feedback"></i></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Пароль", class: 'span2 form-control' %>
      <span class="add-on form-control-feedback">
        <i class="glyphicon glyphicon-lock form-control-feedback"></i></span>
    </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

    <div class="actions">
      <%= f.submit "Войти", class: 'btn btn-primary' %>
    </div>

    <div class="buffer-top">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
